* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.container {
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #405B8C;
  }
.header{
      
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #5FABA7;
      width: 100%;
      height: 200px;
  }
h1{
    color: white;
}
.timeline {
    width: 90%;
    max-width: 750px;
    margin-top:40px;
    position: relative;
  }
time{
    display: flex;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
li {
    padding: 10px;
    background-color: #5FABA7;
    color: white;
    opacity: 0;
    position: relative;
    transition: 3s;
    width: 50%;
  }
.timeline:before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 5px;
      height: 100%;
      background-color: white;
    }
   
ul{
        list-style:none
    }
li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      left: -200px;
    }
li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      right: -200px;
    }

li:before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      background-color: #5FABA7;
      bottom:0px;
      border-radius: 50%;
    }
li:nth-child(odd):before {
      transform: translate(50%, -50%);
      right: -30px;
    }
li:nth-child(even):before {
      transform: translate(-50%, -50%);
      left: -30px;
    }

.wyr:nth-child(even) {
      opacity: 1;
      right: 0;
  }
.wyr:nth-child(even):after {
      left: -30px;
  }
.wyr:nth-child(odd):after {
      right: -30px;
  }
.wyr:nth-child(odd) {
      opacity: 1;
      left: 0;
  }